.register {
  text-align: center;
  padding: 30px;
  background-color: white;
  width: 500px;
  margin: 30px;
  border-radius: 30px;
  height: max-content;
}
h5 {
  margin: 10px;
  font-weight: normal;
}
.inp1 {
  width: 300px;
  padding: 5px 10px;
  border: 2px solid #808080;
  border-radius: 10px;
}
.gender {
  margin-right: 10px;
}
.gender2 {
  margin-left: 10px;
}
button.register {
  width: 80px;
  padding: 5px 10px;
  border: 2px solid #0a68ff;
  background: #73a8fe;
  border-radius: 10px;
  color: rgb(236, 236, 236);
  font-weight: bolder;
}
.bg {
  background-color: #f5f5fa;
  display: flex;
  justify-content: center;
  height: 647px;
}
button.login {
  width: 100px;
}
